<div>
    <h2 id="page-heading">
        <span>Internal Transfer Logs</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="internalTransferLogs?.length === 0">
        <span>No internalTransferLogs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="internalTransferLogs && internalTransferLogs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productCode"><span>Product Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="locationFrom"><span>Location From</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="locationTo"><span>Location To</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span>Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span>Operator</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let internalTransferLog of internalTransferLogs ;trackBy: trackId">
                    <td>{{ internalTransferLog.createdDate | date:'medium' }}</td>
                    <td><a [routerLink]="['/log', 'internal-transfer', internalTransferLog.id, 'view']">{{ internalTransferLog.id }}</a></td>
                    <td>{{ internalTransferLog.productCode }}</td>
                    <td>{{ internalTransferLog.locationFrom }}</td>
                    <td>{{ internalTransferLog.locationTo }}</td>
                    <td>{{ internalTransferLog.quantity }}</td>
                    <td>
                        {{ internalTransferLog.user?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/log', 'internal-transfer', internalTransferLog.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="internalTransferLogs && internalTransferLogs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
