<div class="row justify-content-center">
    <div class="col-8">
        <form name="internalTransferForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="internalTransferForm">
            <h2 id="page-heading">
                <span>Stock Internal Transfer of {{ product?.name }}</span>
            </h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>


                <div class="form-group" [hidden]="!internalTransferForm.get('productCode')!.value">
                    <label for="productCode">Product Code</label>
                    <input type="text" class="form-control" id="productCode" name="productCode"
                        formControlName="productCode" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="locationFrom">Location From</label>
                    <select [(ngModel)]="selectedLocationFrom" (click)="updateValidator()" class="form-control"
                        id="locationFrom" name="locationFrom" formControlName="locationFrom">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="stock.id === internalTransferForm.get('locationFrom')!.value?.id ? internalTransferForm.get('locationFrom')!.value : stock"
                            *ngFor="let stock of stocks;">{{ stock.location }} , Stock Quantity: {{ stock.quantity }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="locationTo">Location To</label>
                    <select class="form-control" id="locationTo" name="locationTo" formControlName="locationTo">
                        <option [ngValue]="null"></option>
                        <ng-container *ngFor="let stock of stocks;">
                            <option *ngIf="stock.id != selectedLocationFrom?.id"
                                [ngValue]="stock.id === internalTransferForm.get('locationTo')!.value?.id ? internalTransferForm.get('locationTo')!.value : stock">
                                <span>{{ stock.location }} , Stock Quantity: {{ stock.quantity }}</span>
                            </option>
                        </ng-container>
                    </select>
                </div>


                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" id="quantity" name="quantity"
                        formControlName="quantity" />
                    <div
                        *ngIf="internalTransferForm.get('quantity')!.invalid && (internalTransferForm.get('quantity')!.dirty || internalTransferForm.get('quantity')!.touched)">
                        <small class="form-text text-danger"
                            *ngIf="internalTransferForm.get('quantity')?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="internalTransferForm.get('quantity')?.errors?.max">
                            This field should be at most {{ selectedLocationFrom?.quantity }}.
                        </small>
                        <small class="form-text text-danger" *ngIf="internalTransferForm.get('quantity')?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!internalTransferForm.get('quantity')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>



            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <ng-container *ngIf="!isSaved">
                        <fa-icon icon="ban" [fixedWidth]="true"></fa-icon>&nbsp;<span>Cancel</span>
                    </ng-container>
                    <ng-container *ngIf="isSaved">
                        <fa-icon icon="backward" [fixedWidth]="true"></fa-icon>&nbsp;<span>Back</span>
                    </ng-container>
                </button>

                <ng-container *ngIf="!isSaved">
                    <button type="submit" id="save-entity" [disabled]="internalTransferForm.invalid || isSaving"
                        class="btn btn-primary">
                        <fa-icon icon="exchange-alt" [fixedWidth]="true"></fa-icon>&nbsp;<span>Transfer</span>
                    </button>
                </ng-container>
            </div>
        </form>
    </div>
</div>